:root {
    --default-font: 'Alef', sans-serif;
    --button-font: 'Acme', sans-serif;
    --default-radius: 1000px;
    --default-border: 1px solid #CBD7E8;
    --primary-color: #0168FC;
    --input-width: 100%;
    --button-width: 55%;
}

* {
    font-family: var(--default-font);
    box-sizing: border-box;
}

#table {
    border-collapse: collapse;
    display: none;
}

#table td {
    border: var(--default-border);
}

#buttons, #main, .book-card, .buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.buttons {
    flex-direction: column;
    align-items: center;
}

#main {
    flex-direction: row;
    margin: 20px 40px 0;
}

#form {
    flex: 0 1 40%;
}

#book-shelf {
    flex: 0 1 55%;
}

/* Input styles */
input {
    width: var(--input-width);
    padding: 12px 20px;
    margin: 8px 0;
    border: var(--default-border);
    border-radius: var(--default-radius);
    font-weight: 400;
    font-size: 15px;
}

input[type=number] {
    width: 50%;
}

input:hover {
    border-color: #acb8c7; /* Slightly darker border on hover */
}

input:focus {
    outline: none;
    border-color: #007bff;
}

input::placeholder {
    font-family: var(--button-font);
}

/* Button styles */
.b-fav, .b-read, #unread, #favorite, .b-remove, #submit-b {
    padding: 10px 26px;
    border-radius: var(--default-radius);
    font-size: 95%;
    cursor: pointer;
    font-family: var(--button-font);
    transition: transform 0.3s ease; /* Smooth transition for hover and active states */
}

#submit-b, #unread, #favorite, .b-remove {
    background: var(--primary-color);
    color: white;
}

.b-fav, .b-read {
    width: var(--button-width);
    background-color: #F9F9F9;
    border: var(--default-border);
}

.b-remove {
    width: 75%;
}

#submit-b:hover, .b-fav:hover, .b-read:hover, #unread:hover, #favorite:hover, .b-remove:hover {
    background-color: #0052cc; /* Slightly darker shade for hover */
    transform: scale(1.05); /* Slightly scale up the button when hovered */
}

#submit-b:active {
    transform: scale(0.95); /* Slightly press down the button when clicked */
}

.b-fav:focus, .b-read:focus, #unread:focus, #favorite:focus, .b-remove:focus, #submit-b:focus {
    outline: 2px solid #007bff; /* Outline for focus */
    outline-offset: 2px;
}

/* Container styles */
#container {
    height: 500px;
    overflow: auto;
    scrollbar-width: thin;
    width: 90%;
}

#container p {
    margin: 9px 0;
}

.book-card {
    margin-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;
    flex-direction: row;
}

.text, .buttons {
    flex: 1;
}

/* Typography */
p, h2, h3 {
    font-family: var(--default-font);
}

h3 {
    margin-top: 0;
}
